.skin-ad {
  width: 1890px;
  height: 1200px;
  position: absolute;
  top: 280px;
  right: 0;
  left: 50%;
  margin-left: -945px;
  a {
    display: block;
    cursor: pointer;
    width: 1890px;
    height: 1200px;
  }
}
