.site-footer {
  $self: &;

  &__inner-container {
    max-width: 1080px;
  }

  &__container {
    #{ $self }__copyright a {
      font-size: 15px;
      font-weight: 300;
      opacity: .7;
      font-family: $theme-content-body-font,
    }

    &--brand-logos {
      background-color: #3f4043;
      padding-bottom: 0;
      .site-footer-logo {
        align-self: center;
      }
    }

    &--primary {
      background-color: $black;
    }

    &--secondary {
      background-color: #3f4043;
    }
  }

  &__brand {
    margin-bottom: 0;
  }

  &__corporate-logo {
    filter: brightness(0) invert(1);
  }

  &__logo {
    height: 45px;
  }

  .brand-logos {
    margin-bottom: 30px;
  }

  .social-follow {
    $self: &;
    &--site-footer {
      margin-bottom: 16px;
      text-align: center;
      #{ $self } {
        &__header {
          display: none;
        }
        &__section {
          // stylelint-disable-next-line
          > .social-icon-link {
            // stylelint-disable-next-line
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
