// @import "@parameter1/base-cms-marko-web/scss/fonts/oswald-fallback";
// @import "@parameter1/base-cms-marko-web/scss/fonts/synthese-fallback";
// @import "@parameter1/base-cms-marko-web/scss/fonts/open-sans-condensed-fallback";

$marko-web-document-container-max-width: 1300px;

$secondary: $primary !default;

$skin-font-family-primary: bebas-neue-pro-semiexpanded, bebas-neue-pro-semiexpanded-fallback, sans-serif !default;
$skin-font-family-secondary: $skin-font-family-primary !default;
$theme-heading-font-family: alternate-gothic-atf, alternate-gothic-atf-fallback, sans-serif !default;
$theme-content-body-font: "nimbus-sans", nimbus-sans-fallback, sans-serif !default;

// Content item teaser and deck override to match content body font
$theme-item-description-font-family: $theme-content-body-font !default;

// Set form input to contentbody text font family
$input-font-family: $theme-content-body-font !default;

$black: #141414;
$body-color: $black;

$skin-block-header-overline-color: $secondary !default;

// List item override to match content header font family
$theme-item-title-font-family: $theme-heading-font-family !default;
// Content body h2 & h3 overrides to match content header font-family
$theme-content-heading-h2-font-family: $theme-heading-font-family !default;
$theme-content-heading-h3-font-family: $theme-heading-font-family !default;

$theme-site-navbar-primary-font-family: $theme-heading-font-family;

$theme-page-deck-font-family: bebas-neue-pro-semiexpanded, sans-serif !default;
$theme-page-deck-font-size: 1.75rem;
$theme-page-deck-line-height-sm: 1.2;
$theme-page-deck-line-height: 1.2;
$theme-page-deck-letter-spacing: 0;

$typography: (
  "header-1": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "font-weight": 800,
    "letter-spacing": 0,
  ),
  "header-1.5": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "font-weight": 800,
    "letter-spacing": 0,
  ),
  "header-2": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "text-transform": uppercase,
    "font-weight": 800,
    "letter-spacing": 0,
  ),
  "header-3": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "font-size": 20px,
    "font-weight": 800,
    "letter-spacing": 0,
  ),
  "article-text": (
    "color": $black,
    "font-family": $theme-content-body-font,
    "line-height": 1.6,
    "font-size": 18px,
    "font-weight": 400,
    "letter-spacing": 0,
  ),
  "small-body-text": (
    "color": $black,
    "font-family": $theme-content-body-font,
    "font-size": 17px,
    "line-height": 1.6,
    "letter-spacing": 0,
  ),
  "teaser-text-1": (
    "color": $black,
    "font-family": $theme-content-body-font,
    "line-height": 1.4,
    "font-size": 16px,
    "font-weight": 300,
    "letter-spacing": 0,
  ),
  "slug-medium": (
    "color": $primary,
    "line-height": 1.1125,
    "font-size": 13px,
    "font-weight": 700,
    "letter-spacing": 0,
  ),
  "section-header": (
    "color": $black,
  ),
  "section-header-small__header": (
    "color": $black,
  ),
  "view-more": (
    "font-family": $theme-content-body-font,
    "font-size": 14px,
    "letter-spacing": 0,
  ),
  "menu-item-primary": (
    "font-family": $theme-content-body-font,
    "font-weight": 500,
    "letter-spacing": 0,
  ),
  "menu-item-primary-header": (
    "font-family": $theme-heading-font-family,
    "font-weight": 700,
    "letter-spacing": 0,
  ),
  "menu-item-secondary": (
    "font-family": $theme-content-body-font,
    "font-weight": 500,
    "letter-spacing": 0,
  ),
  "menu-item-secondary-header": (
    "font-family": $skin-font-family-primary,
    "font-weight": 500,
  ),
  "footer-header-1": (
    // "font-family": $theme-heading-font-family,
    "font-size": 24px,
  ),
  "footer-text": (
    "font-family": $theme-content-body-font,
    "font-weight": 300,
    "letter-spacing": 0,
  ),
  "social-follow-header": (
    // "font-family": $theme-heading-font-family,
    "font-size": 20px,
  ),
  // content page overrides
  "author-content-page": (
    "font-family": $theme-heading-font-family,
    "font-size": 18px,
    "font-weight": 600,
    "letter-spacing": 0,
  ),
  "date-content-page": (
    "font-family": $theme-content-body-font,
    "font-size": 14px,
    "letter-spacing": 0,
  )
);

$skin-buttons: (
  // "primary": (
  //   "font-family": $theme-content-body-font,
  // ),
  "secondary": (
    "font-size": 14px,
    "font-weight": 600,
  ),
);

$skin-content-body-max-width: 1000px !default;
$theme-site-navbar-logo-height-sm: 45px !default;
$theme-site-navbar-logo-height: 60px !default;
$theme-site-navbar-secondary-font-weight: 400 !default;
$theme-site-navbar-secondary-bg-color: #fff !default;
// $theme-site-navbar-secondary-link-color: #f8fafc;
// $theme-site-navbar-secondary-link-hover-color: #f8fafc;
// $theme-site-navbar-secondary-link-active-color: #f8fafc;
$theme-site-navbar-primary-bg-color: #000 !default;
$theme-site-navbar-primary-link-color: #f8fafc !default;
$theme-site-navbar-primary-link-hover-color: #f8fafc !default;
$theme-site-navbar-primary-link-active-color: #f8fafc !default;
$theme-site-navbar-primary-link-text-transform: "uppercase" !default;
$theme-site-navbar-primary-font: $theme-heading-font-family !default;
$theme-site-navbar-primary-font-size: 16px !default;
$theme-site-navbar-primary-font-weight: 600 !default;

$theme-page-deck-color: #6b7280 !default;

// Navbar
$navbarStyle: "navbar-c" !default;
$theme-site-navbar-primary-type: light !default;
$theme-site-navbar-primary-font-size: 15px !default;
$theme-site-navbar-primary-link-color: #3f4043 !default;
$theme-site-navbar-primary-link-active-color: $primary !default;
$theme-site-navbar-primary-link-hover-color: $primary !default;
$theme-site-navbar-primary-bg-color: #f0f1f2 !default;
$theme-site-navbar-logo-height: 30px !default;
$theme-site-navbar-secondary-font-size: 16px !default;
$theme-card-header-text-transform: uppercase !default;

// Ads
$leaderboard-min-height-mobile: 50px !default;
$leaderboard-min-height-desktop: 90px !default;

$skin-block-header-overline-color: $secondary !default;

// $skin-content-body-max-width: auto;

// Leaders
$leaders-primary-color: $primary;

.node-text {
  &--teaser a {
    color: $theme-page-deck-color;
  }
}

// .site-navbar {
//   &__items {
//     &--primary {
//       font-family: $theme-site-navbar-primary-font-family;
//     }
//   }
// }
