$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 995px,
  small-logo: 995px,
  small-text-primary: 0,
);

// Colors
$primary: #dc0d23;

// Navbar
$theme-site-navbar-logo-height: 50px !default;
$theme-site-navbar-logo-height-sm: 15px !default;

@import "@bonhill-group/package-global/scss/core";

// this makes the user icon display as a button
.site-navbar {
  $self: &;
  &__right {
    #{ $self }__link[href="/user/profile"] > span {
      @include theme-toggle-button();
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0 0 0 12px;
      font-size: 1rem;
      background-color: #f0f1f2;
      border-radius: 4px;
    }
    #{ $self }__link[href="/user/logout"] {
      display: none;
    }
    #{ $self }__link[href="/user/login"],
    #{ $self }__link[href="/user/login"]:hover,
    #{ $self }__link[href="/user/login"]:focus {
      color: $white;
    }
    #{ $self }__link[href="/user/login"] > span {
      @include theme-toggle-button();
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 40px;
      padding: 0 8px;
      margin: 0 0 0 12px;
      font-size: 1rem;
      color: $white;
      background-color: $primary;
      border-radius: 4px;
    }
  }
}
